body {
  font-family: 'Arvo', sans-serif;
  font-size: 13px;
  display: flex;
  justify-content:space-around;
  align-self: center;
  background: #0e0e0e;
  margin:0px;
  width:auto;
}

.wrapper {
  width: 100%;
}

div {
  background-color: #f3f3f3;
  display:block;
  border-radius: 50px;


}

header {
  text-align: center;
  background: #1c1c1c;
  color: #f3f3f3;
  margin:0;
  width: 100%;
  height: 100px;
}

.header {
  position: relative;
  color: #f3f3f3;
  width: 100%;
}

.header:after {
  background-position: 0px 0px 0px 10px;
  background-size: 40px 40px;
  background: linear-gradient(-45deg, #f3f3f3 16px, transparent 0), linear-gradient(45deg, #f3f3f3 16px, transparent 0);
  background-position:left bottom;
  background-repeat: repeat-x;
  background-size: 32px 32px;
  content: " ";
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 32px;
}

h1 {
  font-family: 'Arvo', serif;
  font-weight: 200;
  font-size: 60px;
  margin: 0;
}

.container {
  width: 100%;
  display:flex;
  position:relative;
  justify-content: space-between;
  background-size: 50px 50px;
  margin: 30px 30px 50px 50px;
  padding: 100px;

}

h2 {
  text-align: left;
  font-size: 40px;
  font-family: 'Arvo', serif;
  color: black;
  font-weight: 500;
}

p {
  color: #cccccc;
}

ul {
  flex-direction: column;
  list-style: none;
  padding-left: 0;
}

li {
  color: #CCCCCC;
  border-right: 2px solid #cccccc;
}

span {
  color: #a0bdbe;
font-size: 15px;


}

.basics {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;
  margin: 80px 80px 90px 90px;
}

.bio {
  flex-direction:column;
  width: 20%;
  justify-content: center;
  align-items: center;
  margin: 40px 50px 60px 60px;
}

img {

width: 110px;
height: 110px;
border-radius: 50px;
margin-right: 70px;

}

.image {
  /*width: 45%;
  height:10%;
  justify-content: space-around;
  align-content: space-around;
  float:right;*/
  /*margin-left: 225px;*/
  /*margin-top: 80px;*/
  width: 35%;
  height: 5%;
  justify-content: space-between;
  align-content:space-around;
  margin-left: 60px;
  margin-top: 0px;
  margin-right: 140px;
}
